<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PWGenPlus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PWGenPlus.Properties.Settings>
            <setting name="Characters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PasswordLength" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="UpperCase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LowerCase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Numbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Symbols" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomCharSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomCharacters" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordEncode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExcludeDubious" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Pronouncing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Words" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WordCounts" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="WordList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Default</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="WordListIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpecifyLength" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CombineWords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Format" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormatList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>%{%4u%4l%2d%s%}</string>
                        <string>%{%6A%L%d%}</string>
                        <string>%3[%8q %]</string>
                        <string>%*d</string>
                        <string>%*10-20A</string>
                        <string>%6q%2d%s%6q%2d%s</string>
                        <string>%5[%w-%2d %]</string>
                        <string>%U%9A</string>
                        <string>%32h</string>
                        <string>%5[%2h-%]%2h</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FormatListIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Quantity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
        </PWGenPlus.Properties.Settings>
    </userSettings>
</configuration>